@@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/QuizSecurity.Master"  Inherits="System.Web.Mvc.ViewPage<OLProject.Models.tb_LessionMasterSlides>" 
@using OLProject.Models;

	@Session["projectmetatags"]



 @ if (ViewData["msgStatus"] == null)
     { 
  @using (Html.BeginForm())
     {
        @Html.ValidationSummary(true)
    <table width="95%" align="center">
   
            <tr>
    <td valign="top" align='left'>            <b>Useful Tips</b>   </td>    </tr>
           <tr>
    <td align='left'>  
                 @Html.TextAreaFor(model => model.UsefulTips)
             <b> @Html.ValidationMessageFor(model => model.UsefulTips)</b>
                 </td>
    </tr>
           <tr>
    <td align='left'>  
                    <input type="image" src="../../siteimages/Submit.png" /><br /></td>
    </tr>
    </table>
  }
}
     else
     { 
     <h1>@Html.Raw(ViewData["msgStatus"]</h1>
  }

