@model ContosoUniversity.Models.tb_ApplicationForm
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/adminPopup.cshtml";
}

<h2>Delete Application </h2>

<h4>Are you sure you want to delete this?</h4>



<script>
    window.onunload = function () {
        window.opener.location.href = window.opener.location;
    }

</script>
@*@if (ViewData["msgStatus"] == null)
{ 
    @Html.Partial("Base")
   
}
else
{
    <h1>@ViewData["errorMsg"]></h1>
} *@


<script>
    $(document).ready(function () {
        $("#StartDate").datepicker();
    });
</script>


<script>
    $(document).ready(function () {
        $("#EndDate").datepicker();
    });
</script>

<script>
    $(document).ready(function () {
        $("#DateofBirth").datepicker();
    });
</script>

<script>
    $(document).ready(function () {
        $("#LastDateAttended").datepicker();
    });
</script>



    @using (Html.BeginForm("Delete","Application",  FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    @Html.AntiForgeryToken()
    @Html.Partial("Base")
    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
