@model ContosoUniversity.Models.tb_studentsStatus

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/adminPopup.cshtml";
}

<h2>Update Status </h2>

<script>
    window.onunload = function () {
        window.opener.location.href = window.opener.location;
    }

</script>

<script>
    $(document).ready(function () {
        $("#StartDate").datepicker();
    });
</script>


<script>
    $(document).ready(function () {
        $("#EndDate").datepicker();
    });
</script>

<script>
    $(document).ready(function () {
        $("#DateofBirth").datepicker();
    });
</script>

<script>
    $(document).ready(function () {
        $("#LastDateAttended").datepicker();
    });
</script>







<script type="text/javascript">

    function UpdateStateListCadd() {

        destElement = document.getElementById("CurrentCountryID");
        id = destElement.value

        var url = '/application/statelist/' + id;
        $("#tasklistResult1").load(url);
    }




</script>


<script type="text/javascript">

    function UpdateCityCadd() {

        destElement = document.getElementById("CurrentStateID");
        id = destElement.value

        var url = '/application/citylist/' + id;
        $("#cityDiv1").load(url);
    }


</script>



<script type="text/javascript">

    function UpdateStateListPadd() {
        //  alert("hell")
        destElement = document.getElementById("PermanentCountryID");
        id = destElement.value

        var url = '/application/pstatelist/' + id;
        $("#tasklistResult2").load(url);
    }




</script>


<script type="text/javascript">

    function UpdateCityPadd() {
        //  alert("hell")
        destElement = document.getElementById("PermanentStateID");
        id = destElement.value

        var url = '/application/pcitylist/' + id;
        $("#cityDiv2").load(url);
    }


</script>

<script type="text/javascript">

    function UpdateStateListEadd() {

        destElement = document.getElementById("EmergencyCountryID");
        id = destElement.value

        var url = '/application/estatelist/' + id;
        $("#tasklistResult3").load(url);
    }


</script>


<script type="text/javascript">

    function UpdateCityEadd() {
        //alert("hell")
        destElement = document.getElementById("EmergencyStateID");
        id = destElement.value

        var url = '/application/ecitylist/' + id;
        $("#cityDiv3").load(url);
    }


</script>


@using (Html.BeginForm("updateStatus", "Application", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    @Html.AntiForgeryToken()


   


    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Visa Status:  
            @Html.DropDownList("VisaStatus", (SelectList)ViewData["DataListVisa"], "Select")

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            File Status:  
            @Html.DropDownList("FileStatus", (SelectList)ViewData["DataListFileStatus"], "Select")

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Refund Process:  
            @Html.DropDownList("Refund", (SelectList)ViewData["DataListRefund"], "Select")

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Placement Test:  
            @Html.DropDownList("PlacementTestRequired", (SelectList)ViewData["DataListSignsContract"], "Select")

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Signs Contract:  
            @Html.DropDownList("SignsContract", (SelectList)ViewData["DataListPlacement"], "Select")

        </div>


    </div>

    <hr style="border-top: solid 1px; margin: 8px 0; color: #293a88;" />
    
    
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Placement Test Qualifies
              @Html.DropDownList("PlacementTestQulifies", (SelectList)ViewData["YesNo"], "Select")
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Books Issued
              @Html.DropDownList("IssuedBooks", (SelectList)ViewData["YesNo"], "Select")
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Result
              @Html.DropDownList("Result", (SelectList)ViewData["DataListPlacement"], "Select")
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Student Withdraw File
              @Html.DropDownList("StudentWithdrawFile", (SelectList)ViewData["YesNo"], "Select")
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Dues Cleard
              @Html.DropDownList("DuesCleard", (SelectList)ViewData["YesNo"], "Select")
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Issues Credentials
              @Html.DropDownList("IssuesCredentials", (SelectList)ViewData["YesNo"], "Select")
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Qualifies For Refund
              @Html.DropDownList("QualifiesForRefund", (SelectList)ViewData["YesNo"], "Select")
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Student Dismissed
              @Html.DropDownList("StudentDismissed", (SelectList)ViewData["YesNo"], "Select")
        </div>



    </div>
    

    
    <hr style="border-top: solid 1px; margin: 8px 0; color: #293a88;" />
    
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">

            @if (Convert.ToInt32(ViewBag.buttonname) == 1)
            {
                <input class="btn btn-success" value="Submit" type="submit" name="btnSubmit" style="width: 120px;">
            
            }

            @if (Convert.ToInt32(ViewBag.buttonname) == 2)
            {
                <input class="btn btn-success" value="Update" type="submit" name="btnSubmit" style="width: 120px;">
            
            }
            @if (Convert.ToInt32(ViewBag.buttonname) == 3)
            {
                <input class="btn btn-success" value="Delete" type="submit" name="btnSubmit" formnovalidate style="width: 120px;">
                
                   
            }
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">

            <input class="btn btn-danger" value="Cancel" type="submit" formnovalidate name="btnSubmit" style="width: 120px;">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-12"></div>
    </div>


















    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
