@model OLProject.Models.tb_QuizDetail



	@Session["projectmetatags"]




    <h2>popupView</h2>

    <fieldset>
        <legend>Fields</legend>
        
        <div class="display-label">AutoId</div>
        <div class="display-field">@Model.AutoId </div>
        
        <div class="display-label">RefId</div>
        <div class="display-field">@Model.RefId </div>
        
        <div class="display-label">QuesTypeId</div>
        <div class="display-field">@Model.QuesTypeId </div>
        
        <div class="display-label">Decription</div>
        <div class="display-field">@Model.Decription </div>
        
        <div class="display-label">Ans1</div>
        <div class="display-field">@Model.Ans1 </div>
        
        <div class="display-label">Ans2</div>
        <div class="display-field">@Model.Ans2 </div>
        
        <div class="display-label">Ans3</div>
        <div class="display-field">@Model.Ans3 </div>
        
        <div class="display-label">Ans4</div>
        <div class="display-field">@Model.Ans4 </div>
        
        <div class="display-label">Ans5</div>
        <div class="display-field">@Model.Ans5 </div>
        
        <div class="display-label">Ans6</div>
        <div class="display-field">@Model.Ans6 </div>
        
        <div class="display-label">AllOfAbove</div>
        <div class="display-field">@Model.AllOfAbove </div>
        
        <div class="display-label">NoneOfAbove</div>
        <div class="display-field">@Model.NoneOfAbove </div>
        
        <div class="display-label">Check1</div>
        <div class="display-field">@Model.Check1 </div>
        
        <div class="display-label">Check2</div>
        <div class="display-field">@Model.Check2 </div>
        
        <div class="display-label">Check3</div>
        <div class="display-field">@Model.Check3 </div>
        
        <div class="display-label">Check4</div>
        <div class="display-field">@Model.Check4 </div>
        
        <div class="display-label">Check5</div>
        <div class="display-field">@Model.Check5 </div>
        
        <div class="display-label">Check6</div>
        <div class="display-field">@Model.Check6 </div>
        
        <div class="display-label">Check7</div>
        <div class="display-field">@Model.Check7 </div>
        
        <div class="display-label">Check8</div>
        <div class="display-field">@Model.Check8 </div>
        
        <div class="display-label">ActualAns</div>
        <div class="display-field">@Model.ActualAns </div>
        
        <div class="display-label">PointValue</div>
        <div class="display-field">@Model.PointValue </div>
        
        <div class="display-label">NoTries</div>
        <div class="display-field">@Model.NoTries </div>
        
        <div class="display-label">HelpQuiz</div>
        <div class="display-field">@Model.HelpQuiz </div>
        
        <div class="display-label">Tutorial</div>
        <div class="display-field">@Model.Tutorial </div>
        
        <div class="display-label">Solution</div>
        <div class="display-field">@Model.Solution </div>
        
        <div class="display-label">Formulas</div>
        <div class="display-field">@Model.Formulas </div>
        
        <div class="display-label">Quick</div>
        <div class="display-field">@Model.Quick </div>
        
        <div class="display-label">UsefulTips</div>
        <div class="display-field">@Model.UsefulTips </div>
        
        <div class="display-label">Question</div>
        <div class="display-field">@Model.Question </div>
        
        <div class="display-label">FeedBack</div>
        <div class="display-field">@Model.FeedBack </div>
        
        <div class="display-label">UserId</div>
        <div class="display-field">@Model.UserId </div>
        
        <div class="display-label">IpAddress</div>
        <div class="display-field">@Model.IpAddress </div>
        
        <div class="display-label">SystemDate</div>
        <div class="display-field">@String.Format("{0:g}", Model.SystemDate) </div>
        
    </fieldset>
    


