@model PagedList.IPagedList<ContosoUniversity.Models.vwProgram>
@using PagedList;
@using PagedList.Mvc;
@using ContosoUniversity.Models;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}
<style type="text/css">
    #SearchString
    {
        width: 250px;
    }
</style>


<style type="text/css">
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)
    {


        .table_div_Res table, thead, tbody, th, td, tr
        {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        .table_div_Res thead tr
        {
            position: absolute;
            top: -9999px;
            left: -9999px;
            width: 100px;
        }

        .table_div_Res tr
        {
            border: 1px solid #ccc;
        }

        .table_div_Res td
        {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            .table_div_Res td:before
            {
                /* Now like a table header */
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }

            /*
		Label the data
		*/
            .table_div_Res td:nth-of-type(1):before
            {
                content: "Program";
            }

            .table_div_Res td:nth-of-type(2):before
            {
                content: "Code";
            }

            .table_div_Res td:nth-of-type(3):before
            {
                content: "Name";
            }

            .table_div_Res td:nth-of-type(4):before
            {
                content: "Detail";
            }

            .table_div_Res td:nth-of-type(5):before
            {
                content: "Edit";
            }

            .table_div_Res td:nth-of-type(6):before
            {
                content: "Delete";
            }
    }
</style>




<h2>Course Details List</h2>

<div class="row">
    <div class="col-lg-7 col-md-5 col-sm-3 col-xs-12">
        <button class="btn btn-primary" onclick="OpenPopupCenter('/program/create', 'Employee Master!?', 470, 750);" type="button">
            <i class="fa fa-plus-square"></i>
            Create
        </button>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        @using (Html.BeginForm())
        {
             
            <p>
                Search  : @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
</div>




<div class="table_div_Res">

   <table class="table table-striped table-bordered table-hover" width="100%">



        <thead>
            <tr>

                <th>
                    @Html.ActionLink("Program", "Index", new { sortOrder = ViewBag.SrnoParm })
                </th>

                <th>
                    @Html.ActionLink("Program Code", "Index", new { sortOrder = ViewBag.CodeParm })
                </th>

                <th>
                    @Html.ActionLink("Program Name", "Index", new { sortOrder = ViewBag.NameParm })

                </th>
                <th>@Html.ActionLink("Program Detail", "Index", new { sortOrder = ViewBag.DetailParm })

                </th>
                <th>Edit
                </th>
                <th>Delete
                </th>
                <th width="15%">&nbsp;</th>
            </tr>
        </thead>


        @*    @{  scidataEntities db = new scidataEntities();
            String progname = "";
        }*@
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgrameID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgrameCode)
                    </td>
                    <td>
                        @*       @{
                progname = "";

                if (item.ProgrameMasterID != null && item.ProgrameMasterID != 0)
                {

                    var program = (from m in db.tb_ProgramMaster where m.ProgrameMasterID == item.ProgrameMasterID select m).Single();
                    progname = program.ProgrameName;
                }
                        }
                        @progname*@


                        @Html.DisplayFor(modelItem => item.ProgrameName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgrameDetailName)
                    </td>




                    <td>
                        <button class="btn btn-success" onclick="OpenPopupCenter('/program/edit/@item.ProgrameID', 'Edit!?', 470, 750);" type="button">
                            <i class="fa fa-edit"></i>
                            Edit
                        </button>



                    </td>
                    <td>

                        <button class="btn btn-danger" onclick="OpenPopupCenter('/program/delete/@item.ProgrameID', 'Delete!?', 470, 750);" type="button">
                            <i class="fa fa-times"></i>
                            Archive
                        </button>



                    </td>

                    <td></td>

                </tr>
            }
        </tbody>
    </table>

</div>

<div class="pageing_tab">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>



















