@model ContosoUniversity.Models.tb_ModuleMaster


<script type="text/javascript" src="../../Jquery_Date/jquery-1.5.1.js"></script>
<script type="text/javascript" src="../../Jquery_Date/jquery.ui.core.js"></script>
<script type="text/javascript" src="../../Jquery_Date/jquery.ui.widget.js"></script>
<script type="text/javascript" src="../../Jquery_Date/jquery.ui.datepicker.js"></script>
<link type="text/css" href="../../Jquery_Date/themes/base/jquery.ui.all.css" rel="stylesheet" />











@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
 
    <div class="row">



        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            Module Name
                        <br />
            @Html.EditorFor(model => model.ModuleName)
            <div class="msgValidation">@Html.ValidationMessageFor(model => model.ModuleName) </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
           Display Order
                        <br />
            @Html.EditorFor(model => model.Displayorderno)
            <div class="msgValidation">@Html.ValidationMessageFor(model => model.Displayorderno) </div>

        </div>

       @* <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
           Module Instruction
                        <br />
            @Html.EditorFor(model => model.ModuleInstruction)
            <div class="msgValidation">@Html.ValidationMessageFor(model => model.ModuleInstruction) </div>

        </div>*@



    </div>



    <br />

      
       




    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 50px;">
            <label for="name1">&nbsp;</label>




            @if (Convert.ToInt32(ViewBag.buttonname) == 1)
            {
                <input class="btn btn-success" value="Submit" type="submit" name="btnSubmit" style="width: 120px;">
     
               
            }

            @if (Convert.ToInt32(ViewBag.buttonname) == 2)
            {
                <input class="btn btn-success" value="Update" type="submit" name="btnSubmit" style="width: 120px;">
            
            }
            @if (Convert.ToInt32(ViewBag.buttonname) == 3)
            {
                <input class="btn btn-success" value="Delete" type="submit" name="btnSubmit" style="width: 120px;">
                
                   
            }
            <input type="submit" formnovalidate name="btnSubmit" value="Cancel" class="btn btn-danger" style="width: 120px;">
        </div>
    </div>
          

                     
                        
                         
                        
}












