@model OLProject.Models.tb_UserMaster
@Session["projectmetatags"]
@{
    ViewBag.Title = "studentProfile";
    Layout = "~/Views/Shared/LayoutTraining.cshtml";
}


<!--BANNER START-->
    <div class="page-heading">
     <div class="container">
            <h2>Change Your Password</h2>
            <p>Home / Edit Profile / Change Password</p>
        </div>
    </div>
    <!--BANNER END-->

<!--CONTANT START-->
<div class="contant">
    <div class="container">
        <div class="row">
            <div class="span4">
                <!--PROFILE IMAGE START-->
                <div class="profile-box profile-view">


                    <div class='thumb'>
                         @{ if (Model.Picture != null && Model.Picture != "")
                           
                           {
                            <a href=''>
                                <img src='../../uploads/@Model.Picture' alt=''>
                            </a>
                           }
                           else
                           {
                            <a href=''>
                                <img src='../../images/profile_img.jpg' alt=''>
                            </a>}
                        }
                    </div>
                    <div class='text'>
                        <p>Welcome</p>
                        <a href='' class='btn-style'>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</a>
                    </div>

                </div>
                <!--PROFILE IMAGE END-->
                <!--EDIT PROFILE START-->
                <div class="profile-box edit-profile">
                    <h2>Account Setting</h2>
                    <ul>
                        <li><a href="/profile/edit">Edit Profile</a></li>
                        <li><a href="/profile/ChangePassword">Change Password</a></li>
                          <li><a href="/mytraining">Booked Courses</a></li>
                      

                    </ul>
                    <div class="logout">
                        @if (Session["pmsuserid"] != null)
                        {
                            <a href="/login/LogOff">LogOff</a>
                        }

                    </div>
                </div>
                <!--EDIT PROFILE END-->
            </div>
            <div class="span8">
                <!--EDIT PROFILE START-->
                <div class="profile-box editing">
                    @* <h2>Change Password</h2>*@

             <h2>@Session["menutaskname"] Change Password</h2>

                       @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)
                                <ul>
                                    <li>
                                        <label>New Password</label>
                                        @Html.Password("newpassword", null, new { @class = "input-block-level" })<br />
                                             (Use at least 8 characters, numbers, symbols, mix of upper and lower case letters)

                                    </li>
                                    <li>
                                        <label>Confirm Password</label>
                                        @Html.Password("confirmpassword", null, new { @class = "input-block-level" })
                                    </li>
                                       <li class="fw">
                            	<button class="btn-style" type="submit" value="Save">Update</button>
								@Html.Raw(ViewData["msg"])
                            </li>
                                </ul>
                            }
                           </div>
	      </div>
        </div>
    </div>
    <!--FOLLOW US SECTION START-->