@{ Layout = "~/Views/Shared/adminsecurity.cshtml"; }


@Session["projectmetatags"]



<h2>@Session["menutaskname"] Change Password</h2>

<br />
@Html.Raw(ViewData["msg"])
@using (Html.BeginForm())
{

    <table width="96%" border="0" cellspacing="0" cellpadding="0" class="sample">



        <tr>
            <td>New Password</td>
            <td>@Html.Password("newpassword")<br />
            </td>
        </tr>
        <tr>
            <td height="20">&nbsp;</td>
            <td>(Min. 6 chars. Use only alphabets, numbers and the'_' underscore.)</td>
        </tr>
        <tr>
            <td height="20">Confirm Password</td>
            <td>@Html.Password("confirmpassword")</td>
        </tr>

    </table>
    <p>
        <input type="submit" value="Save" />
    </p>
    <p>@Html.Raw(ViewData["msg"])   </p>
}
